<div class="dashboard">
  <ul>
    <% @listings.each do |listing| %>  
      <% listing.appointments.each do |appointment| %>
          <div class="dashboard-appointment">
            <li><%= link_to "Potential appointment", listing_appointment_path(listing, appointment) %></li>
            <li><%= time_tag (appointment.time) %></li>
          </div>
      <% end %>   
    <% end %> 
  </ul>
</div>
