<div>
  <ul class="dashboard-appointment">
    <% @listings.each do |listing| %>  
      <% listing.appointments.each do |appointment| %>
          <li><%= link_to "Appointment pending", listing_appointment_path(listing, appointment) %></li>
          <li><%= time_tag (appointment.start_time) %></li>
          <li><%= time_tag (appointment.end_time) %></li>
      <% end %>   
    <% end %> 
  </ul>
</div>