<div class="profile-all">
  <h3>Filter by: <%= link_to "Looking for roommates", profiles_path(:open_to_roomates => true)  %> <%= link_to "Looking for a place", profiles_path(:looking_for_place => true) %> <%= link_to "Everybody", profiles_path %></h3>


  <div class="profile-world">
    <% @profiles.each do |profile| %>
        <%= link_to(image_tag(profile.avatar_url(:thumb)), profile) %>
    <% end %>
  </div>
</div>