.container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.form {
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 10px;
  max-width: 300px;
}

.form1 {
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 10px;
  margin: 0 auto;
}

.form p {
  background-color: #025488;
  padding: 5px;
  width: 30%;
  margin: 10px auto;
  border-radius: 5px;
}

.form a {
  color: white;
  font-family: Lucida Grande;
  font-size: 18px;
}

.form button {
  background-color: #025488;
  padding: 5px;
  width: 30%;
  margin: 10px auto;
  border-radius: 5px;
}

.field {
  padding: 5px 0;
}

.field input {
  width: 400px;
}

.field a {
  color: #025488;
}

#submit-button {
  background-color: #025488;
  padding: 5px;
  width: 30%;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  font-family: Lucida Grande;
  font-size: 18px;
}


/*home page before sign in*/

.header {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border-bottom: 5px solid #025488;
}

.header li {
  display: inline-block;
  text-decoration: none;
  padding: 0 50px;
  font-size: 30px;
  font-family: Lucida Grande;
  color: #025488;
  font-weight: bold;
}

.header a {
  color: #025488;
  text-decoration: none;
}

#logo img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}


#sign-up {
  background-color: #025488;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
}

#sign-up:hover {
  text-decoration: none;
  background-color: #0066CD;
}

#get-started {
  background-color: white;
  color: #025488;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

#get-started:hover {
  text-decoration: none;
  background-color: #025488;
  color: white;
  border: 3px solid white;
}

.home-page {
  background: url("college-castle.jpg") no-repeat center center fixed;
  background-size: cover;
}


.opening {
  padding-bottom: 300px;
}

#video {
  position: relative;
  left: 40px;
  top: 30px;
}

#video1 {
  margin: 0 auto;
  text-align: center;
}

.callout {
  float: right;
  margin-right: 80px;
}

.callout h1 {
  font-size: 50px;
  font-family: Lucida Grande;
  color: white;
  margin-top: 80px;
  line-height: 1.1em;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
  width: 300px;
}

.callout h3 {
  font-size: 26px;
  font-family: Lucida Grande;
  color: white;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
  width: 440px;
}

.callout p {
  font-size: 28px;
  font-family: Lucida Grande;
  color: white;
  background-color: #025488;;
  padding: 5px;
  text-align: center;
  width: 350px;
  border-radius: 10px;
}


.callout a {
  color: white;
  text-decoration: none;
}

.features-container {
  background-color: #025488;
  width: 100%;
  height: 400px;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
}

.features {
  width: 320px;
  height: 200px;
  display: inline-block; 
}

.features li {
  text-decoration: none;
  list-style-type: none;
}

.features h3 {
  font-size: 28px;
  font-family: Lucida Grande;
  color: white;
}

.features p {
  font-size: 14px;
  font-family: Lucida Grande;
  color: white;
}
/*end of home page before sign in*/

/*signin and signup*/

.devise {
  margin-top: 90px;
  padding: 20px;
  height: 100%;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.devise h2  { 
  font-size: 40px;
  font-family: Lucida Grande;
}

.devise p {
  font-size: 16px;
  font-family: Lucida Grande;
  margin-left: 20%;
}


/*end of signin and signup*/



/*listing*/

#new-listing {
  background-color: #025488;
  font-family: Lucida Grande;
  color: white;
  font-size: 20px;
  margin-top: 5px;
  border-radius: 5px;
   a {
    color: white;
  }
   :hover {
    background-color: #0066CD;
  }
}


/*end of listing*/

/*property*/

.property {
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  width: 300px;
  height: 400px;
  margin: 0 10px;
  padding: 10px 0;
  float: left;
  li {
    list-style-type: none;
    text-decoration: none;
    padding: 1px;
    font-size: 15px;
    font-family: Lucida Grande;
  }
  p {
    background-color: #025488;
    font-family: Lucida Grande;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin: 0 auto;
  }
  p:hover {
    background-color: #0066CD;
  }
  p a {
    color: white;
  }
  p a:hover {
    text-decoration: none;
  }
}

#new-property a {
  background-color: #025488;
  font-family: Lucida Grande;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
   a {
    color: white;
  }
   :hover {
    background-color: #0066CD;
    text-decoration: none;
    list-style-type: none;
  }
}


/*end of property*/

/*room*/

.room {
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  width: 275px;
  height: 100%;
  margin: 0 10px;
  padding: 10px 0;
  li {
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: Lucida Grande;
  }
  p {
    background-color: #025488;
    font-family: Lucida Grande;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin: 0 auto;
  }
  p:hover {
    background-color: #0066CD;
  }
  p a {
    color: white;
  }
  p a:hover {
    text-decoration: none;
  }
}



/*end of room*/


/*listing */

.rows {
  height: 100%;
  width: 100%;
}

.listing {
  border-radius: 5px;
  background-color: white;
  width: 300px;
  margin: 15px 10px 10px 20px;
  float: left;
  height: 100%;
  ul {
    width: 300px;
  }
  li {
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    font-family: Lucida Grande;
    width: 250px;
    margin-left: 40px;
    padding: 0 10px;
  }
  p {
    background-color: #025488;
    font-family: Lucida Grande;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    margin: 0 auto;
  }
  p:hover {
    background-color: #0066CD;
  }
  p a {
    color: white;
  }
  p a:hover {
    text-decoration: none;
  }
  img {
    text-align: center;
  }
}

.list-border {
  border: 1px solid lightgray;
  border-top: 0px;
}

#float-avatar {
  float: left;
}

#float-price {
  float: right;
}

#float-price li {
  font-weight: bold;
}

.individual-listing {
  padding: 10px;
}

.listing-container {
  width: 60%;
  padding: 20px;
}

.listing-container p {
  background-color: #025488;
  padding: 5px;
  width: 32%;
  border-radius: 5px;
  text-align: center;
}

.listing-container p a {
  color: white;
  font-family: Lucida Grande;
  font-size: 15px;
}

.listing-container li {
  list-style-type: none;
  font-family: Lucida Grande;
  font-size: 15px;
  padding: 1px;
}

.photo-gallery li {
  display: inline-block;
}

.google-maps {
  float: right;
  text-align: center;
  margin-right: 10%;
}

.google-maps h3 {
  color: #025488;
  font-family: Lucida Grande;
  font-size: 20px;
}

.google-maps img {
  height: 350px;
  width: 300px;
  border: 3px solid lightgray;
  margin-top: 20px;
}

.google-maps h2 img {
  height: 300px;
  width: 300px;
  margin-top: 0;
}


/*end of listing*/


/*dashboard*/

.sidebar-calendar {
  position: relative;
  width: 400px;
  padding: 20px;
  top: -250px;
}

.sidebar-calendar img {
  height: 375px;
  width: 375px;
}

.dashboard {
}

.dashboard-appointment {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.dashboard-appointment li {
  list-style-type: none;
}

/*end of dashboard*/


/*navbar */
.nav a {
  color: #025488;
  text-decoration: none;
}


.navbar-brand {
  top: -15px;
  position: relative;
}

.top-bar {
  height: 10%;
}

.name img {
  margin-top: -10px;
}

/*end of navabar*/

/*other links */

/*mission*/

.main {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 30px;
}

.main h3 img {
  margin: 0 auto;
  text-align: center;
}

.main p img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#college-map  {
  height: 400px;
}

#college-map img {
  height: 300px;
  margin: 0 auto;
  text-align: center;
}




/*end of mission*/


/*end of other links*/


/*profile*/

.profile-world {
  padding: 20px;
}

.profile-world img {
  border-radius: 5px;
  border: 1px solid lightgray;  
  float: left;
  margin-right: 10px;
}

.profile-all h3 {
  padding: 10px;
}

.profile-all h3 a {
  text-decoration: none;
}

.profile-all h3 a:hover {
  text-decoration: underline;
}



.sidebar {
  position: fixed;
  left: 0px;
  width: 30%;
  padding: 20px;
}

.sidebar img {
  border: 2px solid lightgray;
  border-radius: 5px;
}

.sidebar li {
  list-style-type: none;
  font-size: 20px;
  font-family: Lucida Grande;
  padding-bottom: 8px; 
}

.sidebar li a {
  text-decoration: none;
}

.main-profile {
  margin-left: 30%;
  padding: 20px 30px;
  font-size: 18px;
  font-family: Lucida Grande;
}

.main-profile img {
  margin-bottom: 50px;
}

.profile-story span {
  color: #025488;
}


/*end of profile*/


/*photo gallery*/


.image_slider > img {
    display: none;
}
.thumbnails li {
    display: inline-block;
    cursor: pointer;
}
.thumbnails li img {
    width: 40px;
}
.thumbnails li.active {
    border-bottom: 5px solid red;
}


/*end of photo gallery*/


/*footer */

footer {
  background-color: darkgray;
  bottom: 0px;
}


/*end of footer*/



